/* html {
  scroll-behavior: smooth;
} */
*{
  transition: all 0.5s ease;
}
.container {
  display: flex;
}
.sidebar {
  display: block;
  /* background: red; */
  height: 88vh;
  border-right: 1px solid var(--disable);
  /* height: max-content; */
  overflow: auto;
  /* overflow-y: scroll; */
  /* overflow-x:hidden; */
  /* overflow-x: hidden; */
}
.content {
  /* background: gold; */
  /* height: max-content; */
  /* height: 120vh; */
  height: 88vh;
  overflow-y: auto;
}
.pre-code{
  height: max-content;
  max-height: 200px;
}
.pre-code *{
  background: inherit;
}
.alert-example {
  display: none;
  width: 60vw;
  height: 60px;
  position: fixed;
  top: 0;
}
a {
  display: block;
  background: inherit;
}
.horizontal-card{
  width: 60%;
}
.responsive-width{
  width: 50%;
}
.sample-block {
  height: 100px;
  color: var(--white);
  background: var(--info);
  border: 1px solid var(--white);
  text-align: center;
}
.toast-example{
  display: none;
  width: 300px;
  z-index: 200;
}
@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .content {
    height: 100vh;
  }
  .horizontal-card{
    width: 100%;
  }
  .responsive-width{
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .responsive-width{
    width: 90%;
  }
}
