/* html {
  scroll-behavior: smooth;
} */
/* *{
  transition: all 0.4s ease;
} */
.container {
  display: flex;
}
.sidebar {
  display: block;
  height: 88vh;
  border-right: 1px solid var(--disable);
  overflow: auto;
}
.content {
  height: 88vh;
  overflow-y: auto;
}
.pre-code{
  height: max-content;
  max-height: 200px;
}
.pre-code *,.pre-code-home *{
  background: inherit;
}
.alert-example {
  display: none;
  width: 60vw;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 150;
  background: #cfe2ff;
}
a {
  display: block;
  background: inherit;
}
.horizontal-card{
  width: 60%;
}
.responsive-width{
  width: 50%;
}
.sample-block {
  height: 100px;
  color: var(--white);
  background: var(--info);
  border: 1px solid var(--white);
  text-align: center;
}
.toast-example{
  display: none;
  width: 300px;
  z-index: 200;
}
#content-list{
  display: none;
}
.homeContainer{
  /* height: 88vh; */
}

#themeToggle{
  font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .content {
    height: 100vh;
  }
  .horizontal-card{
    width: 100%;
  }
  .responsive-width{
    width: 70%;
  }
  #content-list{
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .responsive-width{
    width: 90%;
  }
}
