.avatar{
    display: inline-block;
    object-fit: cover;
    border:2px solid var(--white);
    background-color: var(--primary);
}

.avatar-lg{
    width: 80px;
    height: 80px;
}
.avatar-md{
    width: 50px;
    height: 50px;
}
.avatar-sm{
    width: 30px;
    height: 30px;
}
.avatar-round{
    border-radius: 50%;
}
.avatar-rect{
    border-radius: 10px;
}
.avatar-group{
    /* width: 300px; */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, 35px);
}
.avatar-group-lg{
    grid-template-columns: repeat(auto-fit, 65px);
}
.avatar-group-sm{
    grid-template-columns: repeat(auto-fit, 20px);
}
.avatar-text{
    color: var(--white);
    text-align: center;
}
.avatar-text-md{
    width: 50px;
    height: 50px;
    font-size: 40px;
}
.avatar-text-lg{
    width: 80px;
    height: 80px;
    font-size: 65px;
}
.avatar-text-sm{
    width: 30px;
    height: 30px;
    font-size: 25px;
}
