.button {
  padding: var(--space-sm);
  outline: none;
  border: none;
  border-radius: 0.2rem;
  font-family: "Merriweather Sans", sans-serif;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.25s ease;
  color: var(--white);
}
.button-primary {
  background: var(--primary);
}
.button-secondary {
  background: var(--secondary);
}
.button-success {
  background: var(--success);
}
.button-warning {
  color: var(--black);
  background: var(--warning);
}
.button-info {
  color: var(--black);
  background: var(--info);
}
.button-error {
  background: var(--error);
}
.button-monochrome {
  color: var(--white);
  background: var(--dark);
}
.button-primary:hover ,.button-secondary:hover,.button-success:hover,.button-warning:hover,.button-info:hover,.button-error:hover,.button-monochrome:hover{
    filter: brightness(85%);
}
.button-primary-outlined {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: var(--background-secondary);
}
.button-primary-outlined:hover {
  color: var(--white);
  background: var(--primary);
}

.button-secondary-outlined {
  color: var(--secondary);
  border: 1px solid var(--secondary);
  background-color: var(--background-primary);
}
.button-secondary-outlined:hover {
  color: var(--white);
  background: var(--secondary);
}
.button-success-outlined {
  color: var(--success);
  border: 1px solid var(--success);
  background-color: var(--background-primary);
}
.button-success-outlined:hover {
  color: var(--white);
  background: var(--success);
}
.button-warning-outlined {
  color: var(--warning);
  border: 1px solid var(--warning);
  background-color: var(--background-primary);
}
.button-warning-outlined:hover {
  color: var(--black);
  background: var(--warning);
}
.button-info-outlined {
  color: var(--info);
  border: 1px solid var(--info);
  background-color: var(--background-primary);
}
.button-info-outlined:hover {
  color: var(--black);
  background: var(--info);
}
.button-error-outlined {
  color: var(--error);
  border: 1px solid var(--error);
  background-color: var(--background-primary);
}
.button-error-outlined:hover {
  color: var(--white);
  background: var(--error);
}
.button-monochrome-outlined {
  color: var(--black);
  border: 1px solid var(--black);
  background-color: var(--background-primary);
}
.button-monochrome-outlined:hover {
  color: var(--white);
  background: var(--dark);
}

.button-primary-light {
  color: var(--primary);
  border: 1px solid transparent;
}
.button-primary-light:hover {
  color: var(--primary);
  border: 1px solid var(--primary);
}

.button-secondary-light {
  color: var(--secondary);
  border: 1px solid transparent;
}
.button-secondary-light:hover {
  color: var(--secondary);
  border: 1px solid var(--secondary);
}
.button-success-light {
  color: var(--success);
  border: 1px solid transparent;
}
.button-success-light:hover {
  color: var(--success);
  border: 1px solid var(--success);
}
.button-warning-light {
  color: var(--warning);
  border: 1px solid transparent;
}
.button-warning-light:hover {
  color: var(--warning);
  border: 1px solid var(--warning);
}
.button-info-light {
  color: var(--info);
  border: 1px solid transparent;
}
.button-info-light:hover {
  color: var(--info);
  border: 1px solid var(--info);
}
.button-error-light {
  color: var(--error);
  border: 1px solid transparent;
}
.button-error-light:hover {
  color: var(--error);
  border: 1px solid var(--error);
}
.button-monochrome-light {
  color: var(--text-primary);
  border: 1px solid transparent;
}
.button-monochrome-light:hover {
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
}


.button-lg {
  font-size: 1.5rem;
}
.button-sm {
  font-size: 0.5rem;
}
.button:disabled {
  filter: brightness(40%);
  cursor: not-allowed;
  pointer-events: none;
}
.button-float-primary{
  background: var(--primary);
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
}
.button-float-secondary{
  background: var(--secondary);
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
}
.button-float-primary>*{
  background: var(--primary);
}
.button-float-secondary>*{
  background: var(--secondary);
}
