<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUX UI</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div class="lighmode">
      <div class="rootDiv">
        <h1>CRUX UI</h1>
      </div>
      <br />
      <div>
        <h2>Avatars</h2>
        <div>
          <img
            class="avatar avatar-md avatar-round"
            src="../assets/businessman-avatar.jpg"
            alt="avatar"
          />
        </div>
        <br />
        <div>
          <img
            class="avatar avatar-lg avatar-round"
            src="../assets/businessman-avatar.jpg"
            alt="avatar"
          />
          <img
            class="avatar avatar-md avatar-round"
            src="../assets/businessman-avatar.jpg"
            alt="avatar"
          />
          <img
            class="avatar avatar-sm avatar-round"
            src="../assets/businessman-avatar.jpg"
            alt="avatar"
          />
        </div>
        <br />
        <div>
          <img
            class="avatar avatar-rect avatar-lg"
            src="../assets/businessman-avatar.jpg"
            alt="avatar"
          />
          <img
            class="avatar avatar-md avatar-rect"
            src="../assets/businessman-avatar.jpg"
            alt="avatar"
          />
          <img
            class="avatar avatar-rect avatar-sm"
            src="../assets/businessman-avatar.jpg"
            alt="avatar"
          />
        </div>
        <br />
        <div class="avatar-group">
          <img
            class="avatar avatar-round"
            src="../assets/businessman-avatar.jpg"
            alt="avatar"
          />
          <img
            class="avatar avatar-round"
            src="../assets/businessman-avatar.jpg"
            alt="avatar"
          />
          <img
            class="avatar avatar-round"
            src="../assets/businessman-avatar.jpg"
            alt="avatar"
          />
          <img
            class="avatar avatar-round"
            src="../assets/businessman-avatar.jpg"
            alt="avatar"
          />
          <img
            class="avatar avatar-round"
            src="../assets/businessman-avatar.jpg"
            alt="avatar"
          />
        </div>
        <br />
        <div class="avatar avatar-round avatar-text avatar-text-lg">A</div>
        <div class="avatar avatar-round avatar-text avatar-text-md">B</div>
        <div class="avatar avatar-round avatar-text avatar-text-sm">C</div>
        <br />

        <div class="avatar-group avatar-group-sm">
          <div class="avatar avatar-round avatar-text avatar-text-sm">Q</div>
          <div class="avatar avatar-round avatar-text avatar-text-sm">W</div>
          <div class="avatar avatar-round avatar-text avatar-text-sm">E</div>
          <div class="avatar avatar-round avatar-text avatar-text-sm">R</div>
          <div class="avatar avatar-round avatar-text avatar-text-sm">T</div>
          <div class="avatar avatar-round avatar-text avatar-text-sm">R</div>
        </div>
        <div class="avatar-group avatar-group-lg">
          <div class="avatar avatar-round avatar-text avatar-text-lg">Q</div>
          <div class="avatar avatar-round avatar-text avatar-text-lg">W</div>
          <div class="avatar avatar-round avatar-text avatar-text-lg">E</div>
          <div class="avatar avatar-round avatar-text avatar-text-lg">R</div>
          <div class="avatar avatar-round avatar-text avatar-text-lg">T</div>
          <div class="avatar avatar-round avatar-text avatar-text-lg">R</div>
        </div>
      </div>
    </div>
  </body>
</html>
