<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUX UI</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="lightmode">
        <div class="rootDiv">
            <h1>CRUX UI</h1>
        </div>
        <div>
          <div>
            <button class="button button-primary">Primary</button>
            <button class="button button-secondary">secondary</button>
            <button class="button button-success">success</button>
            <button class="button button-warning">warning</button>
            <button class="button button-info">info</button>
            <button class="button button-error">error</button>
            <button class="button button-monochrome">monochrome</button>
          </div>
          <br>
          <div>
            <button class="button button-primary-outlined">Primary</button>
            <button class="button button-secondary-outlined">secondary</button>
            <button class="button button-success-outlined">success</button>
            <button class="button button-warning-outlined">warning</button>
            <button class="button button-info-outlined">info</button>
            <button class="button button-error-outlined">error</button>
            <button class="button button-monochrome-outlined">monochrome</button>
          </div>
          <br>
          <div>
            <button class="button button-secondary button-lg">secondary</button>
            <button class="button button-success">success</button>
            <button class="button button-warning button-sm">warning</button>
          </div>
          <br>
          <div>

            <button class="button button-primary disable">Primary</button>
            <button class="button button-secondary disable">secondary</button>
            <button class="button button-success disable">success</button>
            <button class="button button-warning disable">warning</button>
            <button class="button button-info disable">info</button>
            <button class="button button-error disable">error</button>
            <button class="button button-light disable">light</button>
            <button class="button button-monochrome disable">monochrome</button>
            <button class="button button-primary-outlined disable">Primary</button>
            <button class="button button-secondary-outlined disable">secondary</button>
            <button class="button button-success-outlined disable">success</button>
            <button class="button button-warning-outlined disable">warning</button>
            <button class="button button-info-outlined disable">info</button>
            <button class="button button-error-outlined disable">error</button>
            <button class="button button-monochrome-outlined disable">monochrome</button>
          </div>
        </div>
    </div>
</body>
</html>