.grid-col {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 1.5rem;
}
.gap-3 {
  gap: 2rem;
}
.gap-4 {
  gap: 2.5rem;
}
.col-1 {
  grid-column: span 1;
}
.col-2 {
  grid-column: span 2;
}
.col-3 {
  grid-column: span 3;
}
.col-4 {
  grid-column: span 4;
}
.col-5 {
  grid-column: span 5;
}
.col-6 {
  grid-column: span 6;
}

@media only screen and (max-width: 768px) {
  .col-1-md {
    grid-column: span 1;
  }
  .col-2-md {
    grid-column: span 2;
  }
  .col-3-md {
    grid-column: span 3;
  }
  .col-4-md {
    grid-column: span 4;
  }
  .col-5-md {
    grid-column: span 5;
  }
  .col-6-md {
    grid-column: span 6;
  }
}

@media only screen and (max-width: 600px) {
  .col-1-sm {
    grid-column: span 1;
  }
  .col-2-sm {
    grid-column: span 2;
  }
  .col-3-sm {
    grid-column: span 3;
  }
  .col-4-sm {
    grid-column: span 4;
  }
  .col-5-sm {
    grid-column: span 5;
  }
  .col-6-sm {
    grid-column: span 6;
  }
}
