.list-group{
    width: 100%;
    list-style-position: inside;
}
.inline-list{
    display: flex;
}
.list-item{
    padding: var(--space-xs);
    color: var(--text-primary);
    cursor: pointer;
    word-wrap: break-word;
}
.bordered > .list-item{
    border: 1px solid var(--border-secondary);
}
.items-p-1 > .list-item{
    padding: 0.1rem;
}
.items-p-2 > .list-item{
    padding: var(--space-xs);
}
.items-p-3 > .list-item{
    padding: var(--space-sm);
}
.items-p-4 > .list-item{
    padding: var(--space-md);
}
.items-p-5 > .list-item{
    padding: var(--space-lg);
}
.items-m-1 > .list-item{
    margin: 0.1rem;
}
.items-m-2 > .list-item{
    margin: var(--space-xs);
}
.items-m-3 > .list-item{
    margin: var(--space-sm);
}
.items-m-4 > .list-item{
    margin: var(--space-md);
}
.items-m-5 > .list-item{
    margin: var(--space-lg);
}
.list-item::marker{
    font-weight: bolder;
}
.list-group > .active{
    color: var(--white);
    background: var(--info);
}
.list-group > .disable{
    color: var(--disable);
    pointer-events: none;
}
.type-none{
    list-style-type: none;
}
.type-circle{
    list-style-type: circle;
}
.type-square{
    list-style-type: square;
}
.type-roman-lower{
    list-style-type:lower-roman
}
.type-roman-upper{
    list-style-type: upper-roman;
}
.type-alpha-lower{
    list-style-type: lower-alpha;
}
.type-alpha-upper{
    list-style-type: upper-alpha;
}

.list-item > .list-content{
    display: inline-block;
    vertical-align:top;
    line-height: 1.2rem;
}
.item-primary{
    background: var(--primary);
}
.item-secondary{
    background: var(--secondary);
}
.item-success{
    background: var(--success);
}
.item-error{
    background: var(--error);
}
.item-warning{
    background: var(--warning);
}
.item-light{
    background: var(--disable);
}