.banner1,
.banner2,
.banner3,
.banner4,
.banner5,
.banner6 {
  color: var(--text-primary);
  margin: var(--space-xs);
  line-height: 1.5;
  font-family: "Merriweather Sans", sans-serif;
}
.banner1 {
  font-size: 4rem;
}
.banner2 {
  font-size: 3.75rem;
}
.banner3 {
  font-size: 3.5rem;
}
.banner4 {
  font-size: 3.25rem;
}
.banner5 {
  font-size: 3rem;
}
.banner6 {
  font-size: 2.5rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
  margin: var(--space-xs);
  line-height: 1.5;
}
.h1,
h1 {
  font-size: 3rem;
}
.h2,
h2 {
  font-size: 2.75rem;
}
.h3,
h3 {
  font-size: 2.25rem;
}
.h4,
h4 {
  font-size: 2rem;
}
.h5,
h5 {
  font-size: 1.5rem;
}
.h6,
h6 {
  font-size: 1.25rem;
}

p,
.p {
  color: var(--text-primary);
  font-size: 1rem;
  margin: 0.5rem;
}
.text-primary {
  color:var(--primary)
}
.text-secondary {
  color: var(--secondary);
}
.text-warning {
  color: var(--warning);
}
.text-info {
  color: var(--info);
}
.text-error {
  color: var(--error);
}
.text-disable {
  color: var(--disable);
}
.text-monospace {
  font-family: "PT Mono", monospace;
}
.text-condensed {
  font-family: "Open Sans Condensed", sans-serif;
}
.text-small {
  font-size: 0.75rem;
}
.text-center{
    text-align: center;
}
.text-rt{
    text-align: right;
}
.text-lt{
    text-align: left;
}
