.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.wrap{
  flex-wrap: wrap;
}
.m-1 {
  margin: var(--space-xs);
}
.m-2 {
  margin: var(--space-sm);
}
.m-3 {
  margin: var(--space-md);
}
.m-4 {
  margin: var(--space-lg);
}
.p-1 {
  padding: var(--space-xs);
}
.p-1-x {
  padding: 0px var(--space-xs);
}
.p-1-y {
  padding: var(--space-xs) 0px;
}
.p-2 {
  padding: var(--space-sm);
}
.p-2-x {
  padding: 0px var(--space-sm);
}
.p-2-y {
  padding: var(--space-sm) 0px;
}
.p-3 {
  padding: var(--space-md);
}
.p-3-x {
  padding: 0px var(--space-md);
}
.p-3-y {
  padding: var(--space-md) 0px;
}
.p-4 {
  padding: var(--space-lg);
}
.p-4-x {
  padding: 0px var(--space-lg);
}
.p-4-y {
  padding: var(--space-lg) 0px;
}

.color-primary {
  color: var(--primary);
}
.color-secondary {
  color: var(--secondary);
}
.color-dark {
  color: var(--dark);
}
.color-light {
  color: var(--light);
}
.color-error {
  color: var(--error);
}
.color-success {
  color: var(--success);
}
.color-info {
  color: var(--info);
}
.color-warning {
  color: var(--warning);
}
.color-disable {
  color: var(--disable);
}
.color-black {
  color: var(--black);
}
.color-white {
  color: var(--white);
}

.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-dark {
  background-color: var(--dark);
}
.bg-light {
  background-color: var(--light);
}
.bg-error {
  background-color: var(--error);
}
.bg-success {
  background-color: var(--success);
}
.bg-info {
  background-color: var(--info);
}
.bg-warning {
  background-color: var(--warning);
}
.bg-disable {
  background-color: var(--disable);
}
.bg-black {
  background-color: var(--black);
}
.bg-white {
  background-color: var(--white);
}
.box-3d{
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.full-width{
  width: 100%;
}
.sticky{
  position: sticky;
  top:0;
}
.fixed{
  position: fixed;
  top:0;
}
.relative{
  position: relative;
}
.border-secondary{
  border: 1px solid var(--disable);
}